<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="wrapper">
<div class="pellet-wrapper">
  <div class="pellet"></div>
  <div class="glow-wrapper">
    <div class="left-anim-wrapper">
      <div class="top-anim-wrapper">
        <div class="pellet-glow"></div>
      </div>
    </div>
  </div>
</div>

<p class="title"><img class="radioactive-svg" src="/assets/img/radioactive.svg" />plutonium.io</p>
<p style="margin-top: 10px;" class="text">web development<span class="bullet">&bull;</span>design<span class="bullet">&bull;</span>custom solutions</p>
<h2 class="contact-heading"><em>In need of a solution?  Let us know!</em></h2>

<form id="contact-form" name="contact-form" method="post" action="/contact">

<textarea id="message" name="message" onchange="showHideInputs(this);" placeholder="Enter your project details here and we'll reach out to you"></textarea>

<div class="contact-info-fields">
  <input id="name" name="name" type="text" placeholder="Name" />
  <input id="email" name="email" type="text" placeholder="Email" />
</div>
<input id="submit" type="submit" value="Submit" />

</form>

<script>
var form = document.getElementById("contact-form");
form.onsubmit = function(event) {
  event.preventDefault();

  // convert form to JS object
  var data = {};
  for (var i = 0; i < form.length; i++) {
    var input = form[i];
    if (input.name) {
      data[input.name] = input.value;
    }
  }

  // send data
  var xhr = new XMLHttpRequest();
  xhr.open(form.method, form.action, true);
  xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
  xhr.send(JSON.stringify(data));
  console.log("request: " + JSON.stringify(data));
  // receive response
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4) {
      console.log("response: " + xhr.responseText);
    }
  };
}


</script>

<script>
var inputsVisible = false;

var showHideInputs = function(elem) {
  if (elem.value.length > 0) {
    if (inputsVisible === false) {
      showAll();
    }
  } else {
    if (inputsVisible === true) {
      hideAll();
    }
  }
}

var showButton = function() {

}

</script>
</div>

</body>